@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="span3 right">
        <div class="inner">
            <h1>Fluent Testbed :-)</h1>
            <p>Public testbed for FluentAutomation with examples</p>
        </div>
        <div class="bs-links">
        <ul class="quick-links">
            <li><a href="https://github.com/stirno/automationtestbed">Testbed source</a></li>
            <li><a href="https://github.com/stirno/automationtestbed/bootstrap/issues?state=open">Submit issues</a></li>
            <li><a href="http://fluent.stirno.com/">Fluent Automation</a></li>
        </ul>
        </div>
    </div>
    <div class="span9">
        <h1>Goals</h1>
        <ol>
        <li>Encourage and expand the use of Web Automation frameworks by showing examples for every day automation scenarios a developer may encounter.</li>
        <li>Provide a repeatable benchmark that can be used for comparison and testing of automation frameworks.</li>
        <li>Help from the community to expand the test suite.</li>
        </ol>
    </div>
</div>